/* yanone-kaffeesatz-200 - latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* yanone-kaffeesatz-300 - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* yanone-kaffeesatz-regular - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* yanone-kaffeesatz-600 - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* yanone-kaffeesatz-500 - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* yanone-kaffeesatz-700 - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('fonts/yanone-kaffeesatz-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/yanone-kaffeesatz-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
       

body{
            font-family: 'Yanone Kaffeesatz',  sans-serif;
            animation: fadein 4s;
}

.col-md-4 {
    margin: 200px auto;
}

.table {
padding-top:100px;
}


  .table2 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 20px;
  }

  .container  {
      
      
  }

   .container .bild {
      background-image: url(Bild_Brian.PNG);
      background-repeat: no-repeat;
      width:300px;
    height: 250px;      
      background-size: contain;
      
      align-items: end;
      background-position: right;
      
  }

    .container .main {
     height: 300px;
     
     padding-top: 20px;
  }

  .main {
    padding-top: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
  }

 .container {
     
 }
      
  h1 {
      text-align: center;
      padding-top: 100px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
  }

 @keyframes fadein {
   from{
    opacity:0;
   }
   to { opacity:1;

   }
 }